.site-header {
  background-color: #003366;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo {
  width: 110px;
  background-color: white;
  padding: 10px;
  border-radius: 12px;
}

main {
  padding: 30px;
}

.department-card {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

footer {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 15px;
}